
ion-tab-bar {
    --padding: 0px;
    --border: unset !important;
    --color-selected: rgb(230, 186, 43);
    box-shadow: 0 0 100px 1px #b8b8b8;
    height: 45px;
}

ion-icon {
    font-size: unset !important;
}

