<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <mat-icon class="mat-outline">bakery_dining</mat-icon>
      <ion-label><small>Home</small></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <mat-icon class="mat-outlined">shopping_bag</mat-icon>
      <ion-label><small>Comprar</small></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <mat-icon class="material-icons-outlined">star</mat-icon>
      <ion-label><small>Cupones</small></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <mat-icon class="mat-outline">more_horiz</mat-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>