<img src="assets/images/logodeleit.png" class="main-icon" alt="App Icon" />

<ion-content [fullscreen]="true">
    
<main class="main">
  <ion-card style="margin-top: 80px" color="warning" class="home-card">
    <swiper-container effect="cards" [loop]="true">
      <swiper-slide>
        <ion-img src="assets/images/home1.jpg" class="slide-img"></ion-img>
      </swiper-slide>
      <swiper-slide>
        <ion-img src="assets/images/home2.png" class="slide-img"></ion-img>
      </swiper-slide>
      <swiper-slide>
        <ion-img src="assets/images/home3.png" class="slide-img"></ion-img>
      </swiper-slide>
    </swiper-container>
  </ion-card>

  <ion-row >
    <ion-grid>
      <ion-card-title class="home-card-title">Prepara tu pedido</ion-card-title>

      <ion-card class="pedido ion-activatable ripple-parent" id="pedido">
        <ion-ripple-effect></ion-ripple-effect>
      </ion-card>

      <ion-card-title class="home-card-title">Te lo llevamos a tus manos</ion-card-title>
      <ion-card class="delivery ion-activatable ripple-parent">
        <ion-ripple-effect></ion-ripple-effect>
      </ion-card>

      <ion-card-title class="home-card-title">DESCUENTOS</ion-card-title>
      <ion-card class="discount ion-activatable ripple-parent">
        <ion-ripple-effect></ion-ripple-effect>
      </ion-card>

      <ion-card-title class="home-card-title">Obtene tu voucher</ion-card-title>
      <ion-card class="voucher ion-activatable ripple-parent" (click)="cupones()">
        <ion-ripple-effect></ion-ripple-effect>
      </ion-card>

      <ion-card-title class="home-card-title">Stickers</ion-card-title>
      <ion-card class="sticker ion-activatable ripple-parent">
        <ion-ripple-effect></ion-ripple-effect>
      </ion-card>
    </ion-grid>
  </ion-row>
</main>
</ion-content>
