<img src="assets/images/logodeleit.png" class="main-icon" alt="App Icon" />

<ion-content [fullscreen]="true">
  <ion-card style="margin-top: 70px">
    <swiper-container effect="cards" [loop]="true">
      <swiper-slide>
        <ion-img src="assets/images/home1.jpg"></ion-img>
      </swiper-slide>
      <swiper-slide>
        <ion-img src="assets/images/home2.png"></ion-img>
      </swiper-slide>
      <swiper-slide>
        <ion-img src="assets/images/home3.png"></ion-img>
      </swiper-slide>
    </swiper-container>
  </ion-card>
  <ion-row>
    <ion-grid>
      <ion-card-title class="home-card-title">Prepara tu pedido</ion-card-title>

      <ion-card class="pedido ion-activatable ripple-parent">
        <ion-ripple-effect></ion-ripple-effect>
      </ion-card>

      <ion-card-title class="home-card-title">Te lo llevamos a tus manos</ion-card-title>
      <ion-card class="delivery ion-activatable ripple-parent">
        <ion-ripple-effect></ion-ripple-effect>
      </ion-card>

      <ion-card-title class="home-card-title">DESCUENTOS</ion-card-title>
      <ion-card class="discount ion-activatable ripple-parent">
        <ion-ripple-effect></ion-ripple-effect>
      </ion-card>

      <ion-card-title class="home-card-title">Obtene tu voucher</ion-card-title>
      <ion-card class="voucher ion-activatable ripple-parent">
        <ion-ripple-effect></ion-ripple-effect>
      </ion-card>

      <ion-card-title class="home-card-title">Stickers</ion-card-title>
      <ion-card class="sticker ion-activatable ripple-parent">
        <ion-ripple-effect></ion-ripple-effect>
      </ion-card>
    </ion-grid>
  </ion-row>
  <swiper-pagination></swiper-pagination>
</ion-content>
