.main-card {
  border-radius: 15px;
  box-shadow: 0 5px 1px 3px rgb(255, 166, 0);
  margin-bottom: 50px;
  margin-top: 50px;
}


.voucher-list {
    margin-block: 25px;
    margin-inline-start: 10px;

    swiper-container {
        margin-top: 10px;
    }
}

.search {
    position: fixed;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}